SUPABASE_PUBLISHABLE_KEY="sb_publishable_ksTnwPEmTTWMj8WZPwKAwg_69s1usrE"
SUPABASE_URL="https://dlitdjbmqpsdmhrbluak.supabase.co"
VITE_SUPABASE_PROJECT_ID="dlitdjbmqpsdmhrbluak"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_ksTnwPEmTTWMj8WZPwKAwg_69s1usrE"
VITE_SUPABASE_URL="https://dlitdjbmqpsdmhrbluak.supabase.co"
